<div class="row">

  <!-- All Incomes -->
  <div class="col-md-6">
    <%= render 'statistics/incomes/all_incomes_stats' %>
  </div>

  <!-- # Right Column -->
  <div class="col-md-6 stats-col">

    <!-- # Manager Takes -->
    <%= render 'statistics/incomes/manager_takes_stats' %>

  </div>

</div>