<div class="row">

  <!-- All Incomes -->
  <%= render 'statistics/incomes/all_incomes_stats' %>

  <!-- # Right Column -->
  <div class="col-md-7 stats-col">

    <!-- # Manager Takes -->
    <%= render 'statistics/incomes/manager_takes_stats' %>

  </div>

</div>