<p id="notice"><%= notice %></p>

<p>
  <strong>Income:</strong>
  <%= @manager_take.income %>
</p>

<%= link_to 'Edit', edit_manager_take_path(@manager_take) %> |
<%= link_to 'Back', manager_takes_path %>
