header {

  background: #6b7fa7;
  padding: 0 15px 25px 20px;
  color: #fff;

  a {
    color: #fff;
  }

  &.fixed-top {
    z-index: 9 !important;
  }

  .navbar {
    padding: 0;
    > div > ul {
      > li > a {
        display: grid;
        padding: 10px;
        &:hover {
          color: #fff;
          background-color: #62769e;
          transition: background-color 300ms linear;
          text-decoration: none;
        }
      }
    }
  }

  .navbar-collapse {
    padding: 0 3px;
  }

  .user-dropdown {
    font-size: 13px;
    margin-top: 15px;
    .pull-right {
      margin-top: -7px;
      margin-left: 8px;
    }

    li {
      float: left;
    }

    img {
      border-radius: 100%;
      width: 25px;
      height: 25px;
    }
    .dropdown-menu {
      padding: 0;
    }
    .dropdown-item {
      padding: 4px 0;
      > a {
        margin: 0;
        padding: 1px 14px;
        font-size: 13px;
        color: #3e495f;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .dropdown-menu-right {
      right: 0;
      left: inherit;
      margin: 10px 10px 0 0;
      padding-bottom: 5px;
      box-shadow: 0 3px 12px rgba(27,31,35,0.15);
      .dropdown-item {
        padding: 0;
        a {
          display: block;
          padding: 5px 14px;
          &:hover {
            background: #41a2b8;
            color: #fff;
          }
        }
        span {
          font-size: 12px;
          display: block;
          float: left;
          padding: 10px 16px 10px 11px;
          border-bottom: 1px solid #dedede;
        }
        &:focus, &:hover {
          background: none;
        }
      }
    }
    .user-pic {
      padding: 0;
      margin: 10px 7px 0 0;
    }
  }

}
.title-header {
  position: relative;
  h3 {
    padding: 0 0 20px 14px  ;
    color: #fff;
    font-size: 25px;
    font-weight: 100;
    b {
      float: right;
      margin-right: 15px;
      font-weight: bold;
      &.exp {
        color: #ffc7d6;
      }
      &.inc {
        color: #a5fb98;
      }
    }
  }
}