.devise {
  margin: 5% auto;
  position: relative;
  .card-box {
    padding: 20px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 20px;
    margin-top: 30px;
    background-color: #fff;
    .form-group, .form-control {
      font-size: 14px;
    }
  }

  .logo {
    font-size: 49px;
    color: #5898a7;
    &:hover {
      color: #67919a;
    }
  }

  .text-center {
    text-align: center;
  }

  .panel-body {
    padding: 15px;
    .btn {
      width: 100%;
    }
  }

  h3 {
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 100;
  }

  p {
    font-size: 12px;
    color: #adadad;
    margin-top: 12px;
  }

  .link2 {
    font-size: 13px;
    color: #98a6ad;
    margin-top: 14px;
    display: block;
  }

  .sublink {
    text-align: center;
    font-size: 14px;
    color: #b9b9b9;
  }

  #error_explanation {
    background: #ffd9d9;
    font-size: 12px;
    padding: 12px;
    float: left;
    margin-bottom: 15px;
    width: 100%;
    ul {
      margin-bottom: 0;
    }
    h2 {
      font-size: 12px;
    }
  }

}