body {
  background-color: #f2f7f8;
}

.logo {
  font-size: 29px;
  font-family: 'Georgia', cursive;
  font-style: italic;
  font-weight: 100;

  &:hover {
    text-decoration: none;
  }

  span span {
    color: #10c469;
  }

}