body {
  background-color: #f2f7f8;
}
ul li {
  list-style: none;
}
.logo {
  font-size: 29px;
  font-family: 'Georgia', cursive;
  font-style: italic;
  font-weight: 100;

  &:hover {
    text-decoration: none;
  }

  span span {
    color: #10c469;
  }

}
.main {
  margin-top: 104px;
  padding: 14px;
  .main-content {
    background: #fff;
    padding: 10px;
  }
}