.stats {
  padding: 0 5px;
  h4 {
    border-bottom: 1px solid #dadada;
    padding-bottom: 14px;
    b {
      float: right;
      font-weight: bold;
      font-size: 13px;
    }
  }
  .nav-item a {
    color: #b3b3b3;
  }
}
.stats-col {
  > div {
    margin-bottom: 15px;
  }
  .card-body {
    max-height: 380px;
    overflow-x: scroll;
  }
  table a {
    color: #2b3548;
    text-decoration: underline;
  }
}
.date-filter {
  padding: 15px 0 23px 0;
}