<div class="col-sm-12">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">
        Recettes
        <b class="badge badge-info">
          <%= number_to_currency(OwnerTake.owner_takes_sum, unit: '', separator: ',', delimiter: '', precision: 1) %> DH
        </b>
      </h4>
    </div>
  </div>
</div>
