<div class="row stats-col">

  <!-- # Insurances -->
  <%= render 'expenses/sub-pages/insurances' %>

  <!-- # Breaks -->
  <%= render 'expenses/sub-pages/breaks' %>

  <!-- # Damages -->
  <%= render 'expenses/sub-pages/damages' %>

  <!-- # Owner Takes -->
  <%= render 'expenses/sub-pages/owner_takes' %>

</div>



