
<div class="row stats-col">

  <!-- # Insurances -->
  <%= render 'insurances' %>

  <!-- # Breaks -->
  <%= render 'breaks' %>

  <!-- # Damages -->
  <%= render 'damages' %>

  <!-- # Owner Takes -->
  <%= render 'owner_takes' %>

</div>



