<h1>New Expense Insurance</h1>

<div style="margin-bottom: 10px">
	<%= link_to 'Nothing', :action => :new %>
	<%= link_to 'Insurance', :action => :insurance_fields, remote: true %>
</div>

<%= render 'insurance_fields', expense: @expense %>
<%= link_to 'Back', expenses_path %>