<% if user_signed_in? %>
    <header class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <nav class="navbar navbar-expand-md fixed-top">


        <!-- Navigation -->
        <div class="collapse navbar-collapse">

          <!-- -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to 'Expenses' , expenses_path %>
            </li>
          </ul>

          <!-- -->
          <ul class="mt-2 mt-md-0">
            <li>sss</li>
          </ul>

        </div>

      </nav>
    </header>
<% end %>